<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recipe</h5>
          <p>
            <strong>Recipe Name:</strong>: {{recipe.name}}</p>
          <p>
          <p>
            <img src="{{recipe.imageSrc}}" width="200" height="auto" alt="image">
          </p>
          <p>
            <strong>Description:</strong> {{recipe.description}}</p>
          {{#each products}}
          <ul>
            <li>
              <strong>{{this.name}}</strong> amount: <strong>{{this.Ingredients.amount}} {{this.Ingredients.measurement}}</strong> calories per unit: <strong>{{this.calories}}</strong>
            </li>
          </ul> 
          {{/each}}
          <p>
            <strong>Total Calories: </strong>{{totalCalories}}
          </p>
          <a href="/">← Back To Home</a>
        </div>
      </div>

      {{#if user}}
      <button id="addFav" recipeId={{recipe.id}}>Favorite!</button>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/favorite.js"></script>
{{!-- handlebars tags pull based on the URL --}}